<?xml version="1.0"?>
<config>
    <modules>
        <Coolpay_Payment>
            <version>1.0.0</version>
        </Coolpay_Payment>
    </modules>
    <global>
        <blocks>
            <coolpaypayment>
                <class>Coolpay_Payment_Block</class>
            </coolpaypayment>
        </blocks>
        <models>
            <coolpaypayment>
                <class>Coolpay_Payment_Model</class>
                <resourceModel>coolpaypayment_mysql4</resourceModel>
            </coolpaypayment>
            <coolpaypayment_mysql4>
                <class>Coolpay_Payment_Model_Mysql4</class>
                <entities>
                    <order_status>
                        <table>coolpaypayment_order_status</table>
                    </order_status>
                </entities>
            </coolpaypayment_mysql4>
        </models>
        <helpers>
            <coolpaypayment>
                <class>Coolpay_Payment_Helper</class>
            </coolpaypayment>
        </helpers>
        <template>
            <email>
                <coolpay_payment_link translate="label" module="wishlist">
                    <label>CoolPay Payment Link</label>
                    <file>coolpay_payment_link.html</file>
                    <type>html</type>
                </coolpay_payment_link>
            </email>
        </template>
        <events>
            <controller_action_postdispatch_checkout_onepage_savePayment>
                <observers>
                    <auto_register_payment>
                        <type>singleton</type>
                        <class>Coolpay_Payment_Model_Observer</class>
                        <method>autoRegisterState</method>
                    </auto_register_payment>
                </observers>
            </controller_action_postdispatch_checkout_onepage_savePayment>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>Coolpay_Payment_Model_Observer</class>
                        <method>placeOrder</method>
                    </module>
                </observers>
            </checkout_type_onepage_save_order_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>Coolpay_Payment_Model_Observer</class>
                        <method>placeOrder</method>
                    </module>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <sales_order_place_after>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>Coolpay_Payment_Model_Observer</class>
                        <method>saveOrder</method>
                    </module>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <coolpaypayment_setup>
                <setup>
                    <module>Coolpay_Payment</module>
                    <class>Coolpay_Payment_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </coolpaypayment_setup>
            <coolpaypayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </coolpaypayment_write>
            <coolpaypayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </coolpaypayment_read>
        </resources>
    </global>
    <frontend>
        <secure_url>
            <coolpaypayment_payment>/coolpaypayment/payment</coolpaypayment_payment>
        </secure_url>
        <routers>
            <coolpaypayment>
                <use>standard</use>
                <args>
                    <module>Coolpay_Payment</module>
                    <frontName>coolpaypayment</frontName>
                </args>
            </coolpaypayment>
        </routers>
        <translate>
            <modules>
                <Coolpay_Payment>
                    <files>
                        <default>Coolpay_Payment.csv</default>
                    </files>
                </Coolpay_Payment>
            </modules>
        </translate>
        <layout>
            <updates>
                <coolpaypayment_payment>
                    <file>Coolpay_Payment.xml</file>
                </coolpaypayment_payment>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Coolpay_Payment>
                    <files>
                        <default>Coolpay_Payment.csv</default>
                    </files>
                </Coolpay_Payment>
            </modules>
        </translate>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <coolpaypayment>
                        <class>coolpaypayment/observer</class>
                        <method>onBlockHtmlBefore</method>
                    </coolpaypayment>
                </observers>
            </adminhtml_block_html_before>
            <checkout_submit_all_after>
                <observers>
                    <coolpaypayment>
                        <class>coolpaypayment/observer</class>
                        <method>onCheckoutSubmitAllAfter</method>
                    </coolpaypayment>
                </observers>
            </checkout_submit_all_after>
        </events>
        <layout>
            <updates>
                <coolpaypayment>
                    <file>Coolpay_Payment.xml</file>
                </coolpaypayment>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <coolpaypayment_payment>
                <model>coolpaypayment/method_coolpay</model>
                <title>CoolPay Kortbetaling</title>
                <active>1</active>
                <testmode>0</testmode>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <sort_order>1</sort_order>
                <agreementid>ENTER YOUR AGREEMENT ID HERE</agreementid>
                <cardtype>0</cardtype>
                <sendmailorderconfirmation>1</sendmailorderconfirmation>
                <sendmailorderconfirmationbefore>0</sendmailorderconfirmationbefore>
                <cardlogos>dankort,visa,mastercard,maestro</cardlogos>
                <handlestock>1</handlestock>
                <allowspecific>0</allowspecific>
                <instructions>Pay with your credit card via CoolPay</instructions>
                <instantcapture>0</instantcapture>
                <instantinvoice>0</instantinvoice>
                <transactionfee>0</transactionfee>
                <specifytransactionfee>0</specifytransactionfee>
            </coolpaypayment_payment>
            <coolpay_viabill>
                <active>0</active>
                <model>coolpaypayment/method_viabill</model>
                <title>CoolPay ViaBill</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with ViaBill</instructions>
            </coolpay_viabill>
            <coolpay_mobilepay>
                <active>0</active>
                <model>coolpaypayment/method_mobilepay</model>
                <title>CoolPay MobilePay</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with MobilePay</instructions>
            </coolpay_mobilepay>
            <coolpay_klarna>
                <active>0</active>
                <model>coolpaypayment/method_klarna</model>
                <title>CoolPay Klarna</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with Klarna</instructions>
            </coolpay_klarna>
        </payment>
    </default>
</config>
